<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robotoworks.example.ghissues"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="GithubIssuesApplication">
        <activity
            android:name="com.robotoworks.example.ghissues.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:exported="false" android:name=".ops.GithubService"></service>
        <provider android:authorities="com.robotoworks.example.ghissues.db.githubdb" android:name=".db.GithubDBContentProvider" android:exported="false"></provider>
    </application>

</manifest>
